<div style="position: relative;">
    <nav mat-tab-nav-bar>
        <div style="display: inline-block;" *ngFor="let link of euTabService.navLinks">
            <div mat-tab-link [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}
                <div *ngIf="!link.isIndex" class="eu_mat_tab_close" (click)="tabClose(link)"></div>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>