.eu_mat_tab_close{
    /* background-image: url("./assets/ic_clear_black_24dp_1x.png"); */
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAa0lEQVR4AeWSsREDIQwEtwlRhO3vP0JFPLgeHJDdnEfBh2y8F2hHnM5FJ1AayRtLshiE6F8WHUsw9kT0m8BDMFlMotZ10rzuaHtS63qo6s8HWkaLFXpo5ErXyKWukS25dRM5sXz+Pt+Ls/kBnolC6l7shJkAAAAASUVORK5CYII=");
    /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAsklEQVR4Ae2WsQrEIBAFH/iRUfN1yUnIRwoeuXKbc1CbsGM/g1ssK8dxXkxQ0aZedp0KTH+rqXYmdlU1XSRR1H6vKnbqn/dRN1HVJv7q7X95AutBIgE9INkE1/ME14NEBnpAtgmk5wmo54n5ejN1oOcJql8fWD8irq9mR03Xb4okwfUPKMH1NpGm6cGmHdXzBNfbRB7Sg007oJ+aOPv0JnGQw+vCh1dRWHk6HgpyHOe1fAE3Nwx9TaPILQAAAABJRU5ErkJggg=="); */
    height: 24px;
    width: 24px;
    position: absolute;
    right: 2px;
    top: 12px;
    display: none
}
.mat-tab-link:hover .eu_mat_tab_close{
    display: block
}
@media only screen and (min-width: 601px) {
    nav,nav .nav-wrapper i,nav a.button-collapse,nav a.button-collapse i {
        height:64px;
        line-height: 64px
    }

    .navbar-fixed {
        height: 64px
    }
}

nav {
    color: #fff;
    background-color: #00bcd4;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
}

.breadcrumb {
    font-size: 18px;
    color: black;
}

.breadcrumb:before {
    content: "\e7c3";
    font-family: "Material-Design-Icons";
}

.breadcrumb:first-child:before {
    display: none;
}

.breadcrumb:before {
    content: '\E5CC';
    color: rgba(255,255,255,0.7);
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}
