<rich-swipe>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/0.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">
        <!-- <img data-src="/test/demozl/assets/zlimages/0.png" class="swiper-lazy">
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>             -->
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/0.1 - 菜单.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">        
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/0.2 - 菜单-展开.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">        
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/1 - 公司简介.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">        
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/1.1 - 公司简介-分享.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">        
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/2 - 环卫设备.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">        
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/2.2 - 环卫设备-展开.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">        
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/2.3 - 洗扫车.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/2.4 - 洗扫车-详情1.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/2.5 - 洗扫车-详情2.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/2.6 - 洗扫车-详情3.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/3 - 环境装备.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/3.1 - 环境装备-生物质费物综合治理.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/4 - 解决方案.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/4.1 - 解决方案-垃圾收转运系统.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/5 - 环境项目.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/5.1 - 环境项目-威尼斯.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/6 - 热点新闻.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
    <swiper-slide>
        <img src="/test/demozl/assets/zlimages/6.1 - 热点新闻 - 内容.png" style="max-width: 100%; height:auto;display: block;" class="swiper-lazy">                
    </swiper-slide>
</rich-swipe>
