<li class="eu-menu">
    <a data-parent="#navmenus1111" data-toggle="collapse" href="#系统设置"
        class="" aria-expanded="true">
        <i class="fa fa-wrench"></i> menu.t
        <span class="fa fa-chevron-down"></span>
    </a>

    <ng-container *ngIf="menu.c">
        <ul aria-expanded="true" [class.collapse_in]="expanded" class="nav child_menu"
            id="系统设置" aria-controls="系统设置">
            <eu-menu *ngFor="let menuc of menu.c" [menu]="menuc"></eu-menu>
        </ul>
    </ng-container>

</li>