/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "app/assets/project.css"; */
@import "./assets/iconfont/material-icons.css";
/* @import "../node_modules/devextreme/dist/css/dx.common.css"; */
/* @import "../node_modules/devextreme/dist/css/dx.light.css"; */
@import "../node_modules/ag-grid/dist/styles/ag-grid.css";
/* @import "../node_modules/ag-grid/dist/styles/theme-blue.css"; */
@import "../node_modules/ag-grid/dist/styles/ag-theme-material.css";
/* You can add global styles to this file, and also import other style files */
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide-active{
    background-color: lightblue
}
.swiper-slide-active .swiper-slide{
    background-color: lightblue   
}